<div class="container">
    <nav class="navbar navbar-dark bg-primary">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">Mongo Sitescraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Saved<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
  
    <div id='articles'>
        {{#if articles}}
        {{#each articles}}
            {{> articles/article-block}}
        {{/each}}
        {{/if}}
    </div>
    <div id='notes'></div>
</div>