<div class="card" style="width: 18rem;">
  <div class="card-body">
    <a href={{result.link}}>
        <h5 class="card-title">{{result.title}}</h5>
        <p class="card-text">{{result.summary}}</p>
    </a>
    <a href="#" class="card-link">Save article</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>