<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{Article.title}}</h5>
    <p class="card-text">{{}}</p>
    <a href="#" class="card-link">Save article</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>